@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */




.navbar-brand{
    font-family: "Madimi One", Georgia, "Times New Roman", serif !important;
    font-size: 2.25rem !important;
}
nav{
 
    a{
        color: black !important;
     
    }
   
}
.uol{

    a{
        color: black !important;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Tajawa", serif;
    transition: 0.5 ease-in-out;
    &:hover{
        color: rgb(77, 76, 76);
    }
}
.font{
font-family: "Truculenta";
font-size: 80px !important;
}

.italic{
    font: italic !important;
}
.nav-link{
    font-weight: 700;
    transition: 0.5s ease-in;
}
.nav-link:hover{
    
        color: rgb(247, 127, 127) !important;
        border-bottom: 1px black solid!important;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}